<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/head') %>
</head>

<body>
  <section class="section">
    <div class="container">
      <h1 class="title">Node.js File Upload</h1>

      <figure class="image is-128x128">
        <img src="<%= image %>">
      </figure>

      <p>URL: <a href="<%= image %>" target="_blank"><%= image %></a></p>

    </div>
  </section>
</body>

</html>